<mat-toolbar color="blue" style="position: fixed; background: pink; z-index: 1000;
margin-bottom: 0;">
	<mat-toolbar-row>
		<a routerLink="/" class="moviefy">moviefy</a>
		<a routerLink="/browse" class="browse">browse</a>
		<a routerLink="/favorites" class="favorites">favorites</a>
		<app-search></app-search>
		<span class="example-spacer"></span>
		<mat-icon [matMenuTriggerFor]="menu">perm_identity</mat-icon>
		<mat-menu #menu="matMenu">
			<button mat-menu-item data-toggle="modal" data-target="#loginModal">
				login
			</button>
			<button mat-menu-item data-toggle="modal" data-target="#registerModal">Register</button>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>

<app-login class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true"></app-login>
<app-register class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true"></app-register>