<section class="social">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-facebook icon"></i>
			</div>
			<div class="col-md-2">
				<i class="fa fa-instagram icon"></i>
			</div>
			<div class="col-md-2">
				<i class="fa fa-twitter icon"></i>
			</div>
			<div class="col-md-2">
				<i class="fa fa-linkedin icon"></i>
			</div>
		</div>
	</div>
</section>
<footer class="section-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<ul>
					<h3>Company</h3>
					<li>about us</li>
					<li>blog</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul>
					<h3>Resources</h3>
					<li>FAQ</li>
					<li>terms and Conditions</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul>
					<h3>CONTACT</h3>
					<li>email</li>
					<li>call</li>
					<li>location</li>
				</ul>
			</div>
		</div>
	</div>
</footer>