<section class="section-moviefy">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="header-text">
					<h4>
						Welcome to the moviefy application
						<br> Get to listen to movie tracks direclty from spotify
					</h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="large-circle">
					<div class="small-cirlce"></div>
					<img class="main-image" src="https://www.comingsoon.net/assets/uploads/2018/08/Venom.jpg">
					<span class="header-headphones">
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="the-content">
	<div class="container ">
		<div class="row">
			<div class="col-md-6">
				<div class="movie-cards">
					<div class="movie-card">
						<div class="movie-heading">
							<div class="movie-card-heading">
								<div class="movie-card-circle">
									<div class="movie-card-cirle">
										<div class="img-movie-card">
											<img class="movie-image" src="https://assets1.ignimgs.com/2016/07/23/blackpanther1280jpg-6d9aac1280wjpg-7ced4e_400w.jpg">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="caption">
							<h1 class="title-caption"> black panther</h1>
							<p class="songs">
								<i class="fa fa-music"></i>
								all 57 songs from the album black panther
							</p>
							<img class="logo" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/092014/spotify_2014_0.png?itok=G4OTrLGf">
							<img class="logo" src="https://1.bp.blogspot.com/-5xyNqP5DiOs/UhsqtOh78ZI/AAAAAAAAAlo/0KMQxRxZZqI/w1200-h630-p-k-no-nu/Logo+iTunes.JPG">
							<img class="logo" src="https://i1.sndcdn.com/avatars-000131869186-my9qya-t500x500.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="movie-cards">
					<div class="movie-card">
						<div class="movie-heading">
							<div class="movie-card-heading">
								<div class="movie-card-circle">
									<div class="movie-card-cirle">
										<div class="img-movie-card">
											<img class="movie-image" src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/04/30/Pictures/_de62c026-4c6f-11e8-bd65-8f9614bffbbb.jpg">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="caption">
							<h1 class="title-caption"> Avengers infinity war</h1>
							<p class="songs">
								<i class="fa fa-music"></i>
								all 33 songs from the album infinity war
							</p>
							<img class="logo" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/092014/spotify_2014_0.png?itok=G4OTrLGf">
							<img class="logo" src="https://1.bp.blogspot.com/-5xyNqP5DiOs/UhsqtOh78ZI/AAAAAAAAAlo/0KMQxRxZZqI/w1200-h630-p-k-no-nu/Logo+iTunes.JPG">
							<img class="logo" src="https://i1.sndcdn.com/avatars-000131869186-my9qya-t500x500.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="movie-cards">
					<div class="movie-card">
						<div class="movie-heading">
							<div class="movie-card-heading">
								<div class="movie-card-circle">
									<div class="movie-card-cirle">
										<div class="img-movie-card">
											<img class="movie-image" src="https://revengeofthefans.com/wp-content/uploads/2018/01/ant-man-and-the-wasp-1013134-1280x0.jpg">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="caption">
							<h1 class="title-caption"> ant-man-and-the-wasp</h1>
							<p class="songs">
								<i class="fa fa-music"></i>
								all 25 songs from the album ant man
							</p>
							<img class="logo" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/092014/spotify_2014_0.png?itok=G4OTrLGf">
							<img class="logo" src="https://1.bp.blogspot.com/-5xyNqP5DiOs/UhsqtOh78ZI/AAAAAAAAAlo/0KMQxRxZZqI/w1200-h630-p-k-no-nu/Logo+iTunes.JPG">
							<img class="logo" src="https://i1.sndcdn.com/avatars-000131869186-my9qya-t500x500.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="movie-cards">
					<div class="movie-card">
						<div class="movie-heading">
							<div class="movie-card-heading">
								<div class="movie-card-circle">
									<div class="movie-card-cirle">
										<div class="img-movie-card">
											<img class="movie-image" src="https://www.soundtrackmania.net/wp-content/uploads/2018/09/the-nun-2018.jpg">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="caption">
							<h1 class="title-caption"> The nun</h1>
							<p class="songs">
								<i class="fa fa-music"></i>
								all 20 songs from the album The Nun
							</p>
							<img class="logo" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/092014/spotify_2014_0.png?itok=G4OTrLGf">
							<img class="logo" src="https://1.bp.blogspot.com/-5xyNqP5DiOs/UhsqtOh78ZI/AAAAAAAAAlo/0KMQxRxZZqI/w1200-h630-p-k-no-nu/Logo+iTunes.JPG">
							<img class="logo" src="https://i1.sndcdn.com/avatars-000131869186-my9qya-t500x500.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>