<div class="container" style="background-image:\\banner">

	<mat-grid-list cols="3">
		<mat-grid-tile>
			<img class="xs=4" src="{{banner}}"> </mat-grid-tile>
		<mat-grid-tile>
			<iframe width="100%" height="480" [src]="safeVideoURL(trailer)" frameborder="0" allowfullscreen></iframe>
		</mat-grid-tile>
		<mat-grid-tile>
			<div class="movie-title xs=4">{{title}}</div>
			<div class="movie-rating">ratings
				<b>{{rating}}</b>
			</div>
		</mat-grid-tile>
	</mat-grid-list>

	<form class="example-form">
		<hr>
		<table *ngFor="let track of tracks.data">
			<tr>
				<td>{{track.songName}}</td>
			</tr>
			<tr>
				<td>
					<iframe #spotifyPlayer width="100%" height="100px" frameborder="0" allowtransparency="true" allow="encrypted-media" [src]="safeURL(track.spotify)"></iframe>
				</td>
			</tr>
			<tr>
				<td>
					<button (click)="favorite(track.id)" mat-button>favorite</button>
					<button mat-button>SHARE</button>
				</td>
			</tr>
		</table>
	</form>
</div>